<% cache :footer_gilcierweb do %>
  <div class="w-full bg-base-200/60 text-base-content/90">
    <footer class="footer container mx-auto p-2 section ">

      <div class="w-full copyright-area container mx-auto p-2 footer-center">
        <div class="text-center">
          <div class="inner-content">
            <div class="row">

              <div class="col-12 text-center">
                <p class="copyright-text">Copyright &copy; <%= Date.today.year %> LiteraryPad - All Rights Reserved -
                  <a href="https://gilcierweb.com.br" title="gilcierweb.com.br" class="link link-primary link-animated">gilcierweb.com.br</a> - Desenvolvido por:
                  <a href="https://gilcierweb.com.br" title="GilcierWeb" class="link link-primary link-animated">GilcierWeb</a> - Site criado com o
                  Framework <a href="https://rubyonrails.org/" title="Ruby on Rails" class="link link-primary link-animated">Ruby on Rails</a> -
                  <% site_url = "#{request.base_url}" %>
                  <%= link_to "https://transparencyreport.google.com/safe-browsing/search?url=#{site_url}&hl=pt_BR", target: '_blank', title: 'Maior segurança para você', class: 'link link-primary link-animated' do %>
                    Google Safe Browsing
                  <% end %>
                </p>
              </div>

              <div class="col-12 text-center">
                <p class="p-small">Site melhor visualizado com navegadores modernos como:
                  <a href="https://browsehappy.com/" title="Mozilla Firefox" target="_blank" class="link link-primary link-animated">Firefox</a>,
                  <a href="https://browsehappy.com/" title="Opera" target="_blank" class="link link-primary link-animated">Opera</a>,
                  <a href="https://browsehappy.com/" title="Google Chrome" target="_blank" class="link link-primary link-animated">Google Chrome</a>,
                  <a href="https://browsehappy.com/" title="Apple Safari" target="_blank" class="link link-primary link-animated">Apple Safari</a>,
                  <a href="https://browsehappy.com/" title="Brave" target="_blank" class="link link-primary link-animated">Brave</a>,
                  <a href="https://browsehappy.com/" title="Vivaldi" target="_blank" class="link link-primary link-animated">Vivaldi</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
<% end %>